body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

#menu, #howTo {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#howTo, #game {
  display: none;
}

button {
  font-size: 20px;
  padding: 12px 25px;
  margin: 10px;
}

#maze {
  display: grid;
  grid-template-columns: repeat(15, 32px);
  gap: 3px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 32px;
  height: 32px;
  background: black;
}

.wall {
  background: #333;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#controls button {
  width: 60px;
  height: 60px;
  font-size: 28px;
}

#jumpscare {
   
  display: none;
  position: fixed;
  inset: 0;
  background: red;
  color: white;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  z-index: 999;
}