body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#maze {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background: black;
  border: 1px solid #000000;
}

.wall {
  background: #000000;
}

.player {
  background: yellow;
}

.exit {
  background: green;
}
#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 999;
}

#controls button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  margin: 5px;
}